body {
	background-image: url(http://geology.com/world/world-map.gif);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover; 
}
.container {
	border-radius: 25px;
	width: 40%;
	height: 65%;
	padding: 10px;
	background: white;
	text-align: center;
	opacity: 0.9;
	margin-left: 400px;
	margin-right: 400px;
	margin-bottom: 15px;
	margin-top: 50px;
}
.heading {
}
h1 {
	color: #ffaa7e;
	font-size: 35px;

}
h2 {
	color: #2f96bc;
	font-size: 23px;
	padding-left: 5px;
	padding-right: 5px;
}
h3 {
	color: #2f96bc;
	font-size: 23px;
	padding-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
}
#start {
	width: 15%;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
img {
    border-radius: 8px;
	width: 65%;
	height: 65%;
}
input[type=radio]{
	float: left;
	margin-left: 160px;
	padding-bottom: 10px;
}
span {
	float: left;
	padding-left: 10px;

}
#option1 {
	height: 5px;
}
#option2 {
	height: 5px;
}
#option3 {
	height: 5px;
}
#option4 {
	height: 5px;
}
#quiz {
	display: none;
}
#playagain {
	display: none;
}
#Next {
	display: none;
	text-align: center;
	margin-left: 300px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
#Submit {
	display: none;
	text-align: center;
	margin-left: 300px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
