body {
	background-image: url(http://geology.com/world/world-map.gif);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover; 
}
.reset {
	border-radius: 25px;
	width: 10%;
	margin: 5px;
	padding: 25px;
	background: white;
	text-align: center;
	opacity: 0.9;
}
.container {
	border-radius: 25px;
	width: 40%;
	padding: 10px;
	background: white;
	text-align: center;
	opacity: 0.9;
	margin-left: 400px;
	margin-right: 400px;
	margin-bottom: 50px;

}
.heading {
}
h1 {
	color: #2f2e2e;
}
.landmark {
	color: #2f2e2e;
}
.class{
	
	float: left;
}
.question1 {
	color: #2f2e2e;
}
.submit {
	margin: 10px;
}